a {
  text-decoration: none;
  font-weight: 400;
  color:black;
}

a.hover {
  color: rgba(236, 172, 180, 0.68);
}

.app-body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  background-color: black;
}

.img-circle {
  border-radius: 50%;
}

.site-sidenav {
  width: 272px;
  min-width: 272px;
  max-width: 272px;
}

.sidebar-menu, .sidebar-menu ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #070707;
}

.content-pane {
  background-color: #070707;
  background: linear-gradient(#0a140a, #070707 25%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0a140a), color-stop(1, #070707));
  background: -webkit-linear-gradient(top, #0a140a 0%, #070707 100%);
  background: -moz-linear-gradient(top, #0a140a 0%, #070707 100%);
  background: linear-gradient(top, #0a140a 0%, #070707 100%);
  border-bottom: 1px solid #0a140a;
}

.sidebar-menu > li {
  border-bottom: 1px solid #222e0e;
}

.sidebar-menu .md-button {
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 32px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.menu-heading {
  display: block;
  line-height: 32px;
  margin: 0;
  padding: 8px 16px 0;
  text-align: left;
  width: 100%;
  color: rgba(255, 255, 255, 0.54);
}

.navbar-img {
  padding: 0 25px;
}

.navbar-text {
  font-size: 1em !important;
  padding: 15px;
}

.navbar-social-media {
  padding: 10px;
}

.nav-header {
  background-color: #070707;
  background: linear-gradient(#0a140a, #070707);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0a140a), color-stop(1, #070707));
  background: -webkit-linear-gradient(top, #0a140a 0%, #070707 100%);
  background: -moz-linear-gradient(top, #0a140a 0%, #070707 100%);
  background: linear-gradient(top, #0a140a 0%, #070707 100%);
  border-bottom: 1px solid #0a140a;
  flex-shrink: 0;
  z-index: 2;
}

.page-content {
  width: 100%;
}

.profile-photo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 0 auto;
}

.profile-text {
  color: #94c743;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
}

.top-nav {
  background: #f6f6f6 !important;
  color: #202020 !important;
  z-index: 3;
}

.race-results-button {
  margin-top: 0;
}

.about-header {
  background-color: #009688;
  color: white;
}

.svg-about-me {
  width: 100%;
  height: 100%;
}

.member-img {
  max-height: 475px;
  min-height: 450px;
  height: 100%;
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
  -webkit-filter: opacity(30%) grayscale(80%);

}

.member-card:hover .member-img {
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
  -webkit-filter: opacity(60%) grayscale(0%);
}

.member-text {
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  position: absolute;
  top: 25%;
  left: 0px;
  text-align: center;
  width: 100%;
  pointer-events: none
}

.member-card {
  margin: 0;
  position: relative;
  cursor: pointer;
}

.member-card:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(236, 172, 180, 0.68);
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear;
}

.member-card:hover:before {
  background: none;
}
.hidden-member-text {
  position: absolute;
  top: 25%;
  left: 0px;
  text-align: center;
  width: 100%;
  opacity: 0;
}

.member-card:hover .hidden-member-text {
  opacity: 1;

}
