a {
  text-decoration: none;
  font-weight: 400;
}

.app-body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.img-circle {
  border-radius: 50%;
}

.site-sidenav {
  width: 272px;
  min-width: 272px;
  max-width: 272px;
}

.sidebar-menu, .sidebar-menu ul {
  list-style: none;
  padding: 0;
  max-width: 100%;
  height:100%;
  overflow: hidden;
  background-color: #00695C;
}

.sidebar-menu > li {
  border-bottom: 1px solid #00695C;
}

.sidebar-menu .md-button {
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0px 32px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.menu-heading {
  display: block;
  line-height: 32px;
  margin: 0;
  padding: 8px 16px 0;
  text-align: left;
  width: 100%;
  color: rgba(255, 255, 255, 0.54);
}

.nav-header {
  background-color: #00695C;
  background: linear-gradient(#009688, #00695C);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #009688), color-stop(1, #00695C));
  background: -webkit-linear-gradient(top, #009688 0%, #00695C 100%);
  background: -moz-linear-gradient(top, #009688 0%, #00695C 100%);
  background: linear-gradient(top, #009688 0%, #00695C 100%);
  border-bottom: 1px solid #009688;
  flex-shrink: 0;
  z-index: 2;
}
.page-content {
  max-width:864px;
}



.profile-photo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 0 auto;
}

.profile-text {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 26px;
}

.top-nav {
  background: #f6f6f6 !important;
  color: #202020 !important;
  z-index: 3;
}

.race-results-button {
  margin-top: 0;
}

.about-header {
  background-color: #009688;
  color:white;
}

.svg-about-me {
  width: 100%;
  height: 100%;
}
