<md-content ng-controller="VisualizationsCtrl as visualizations" class="md-padding" layout-xs="column" layout="row">
  <div flex layout="column">
    <md-card>


      <md-card-header>
        <md-card-header-text>
          <div layout="row">
            <span flex class="md-headline"><a href="https://www.strava.com/activities/628072900">Portland to The
              Dalles</a></span>
          </div>
          <span ng-if="race.description" class="md-subhead">{{race.description}}</span>
        </md-card-header-text>
      </md-card-header>
      <img src="images/oregon-one/main.jpg" class="md-card-image" alt="Washed Out">
      <md-card-content>
        <div>
          <h3 style="display:inline">87.1 miles : 4700ft elevation gain</h3>
        </div>
        <br>
        Day one of this trip took me from Portland to The Dalles. Having barely slept on a plane and three hours in a
        motel I knew I was already in the deep end for this trip. The route I was taking took me along the Columbia
        River, which seperates Oregon and Washington state. The ride went from city streets, some small mountain passes,
        touching an interstate 80, and eventually ending on the dry barren roads of "eastern" Oregon. Travelling from
        west to east of the Cascade Mountain Range was like traveling to a whole new state; from rainy Portland and the
        tall trees, to dry grass and not much else.
        <br><br>
        The trip began with travelling out of Portland Airport. I was able to build my bike at the airport and leave my
        luggage bags with The Port of Portland there. Looking like a lunatic in spandex at an airport I rode away to
        embark on my ride. The first mistake I made of the day was here, when I didn't fill up my water bottles before
        leaving the airport. Cycling out of Portland was pretty uneventful as the Airport is already located north of
        the
        city on the Columbia River. Thus, I began cycling directly east along the water. I stopped at a Denny's along
        some
        road about 15 miles in to fill up my bottles. A few miles after filling up, was the town of Troutdale which is
        "The Gateway to the Gorge." (The gorge being the Columbia River) This is where the Historic Columbia River
        Highway
        begins. The historic highway runs parrallel to I-84 but takes a scenic approach going up and down some mountains
        and providing breathtaking views. It will take you all the way from Troutdale to Wyeth State Park, which is 38
        miles. The road starts with one large climb and a descent but is followed by only some small rollers until you
        get
        to Wyeth Street which has a short steep climb. You get great views of the river, the Vista House, and multiple
        waterfalls. I made the mistake of not stopping once during this leg of the ride to take a break and grab some
        lunch (I wanted to stop in Cascade Locks, but missed the town as it is quite small)
        <br><br>
        <img src="images/oregon-one/IMG_1333.JPG" width="100%">
        <br><br>
        After Wyeth road you have to
        ride on I-84. This part of the ride sucked as riding on the shoulder of an interstate is never ideal. I just put
        my head down and smashed until I arrived in Hood River. There are a few parks along the interstate that you can
        pull off and use the restrooms. I arrived in Hood River and had some lunch. Hood River seemed like such a cool
        town, and I was pretty bummed that I was not spending the night there rather than The Dalles. There were plenty
        of
        breweries, coffee shops, and places to eat. I grabbed a burger and a beer, refueled or so I thought and quickly
        headed to the bike shop next store to the restaurant to get some lube on my chain. They were extremely helpful
        and
        lubed my chain for free.
        <br><br>
        <img src="images/oregon-one/IMG_1342.JPG" width="100%">
        <br><br>
        After Hood River the entire climate changes to dry lands of nothingness. It is quite
        amazing, especially from my point of view never having been in a dessert before. Although I only had 20 miles
        left
        to ride, there was two climbs I was not quite ready for and paid dearly. At this point I was trying to ride
        quickly as I wanted to be done with the day knowing I had a long hard ride tomorrow. It got extremely gusty at
        the
        top of these climbs, but the views were spectacular and so vastly different from where I just was two hours ago.
        Before I was looking at the river and everything surrounding it was full of life, but now the river was
        surrounded
        by hills lacking all forms of life. After descending the final climb I only had a few miles left to ride, but
        was
        bonking HARD. I was struggling in the late afternoon heat and needed to stop as soon as possible to get hydrated
        and some calories. The beer in Hood River should of been replaced with four or so waters... Regardless, I
        stopped
        at a gas station about a mile away from my motel and consumed two gatorades while trying to resurrect my legs to
        ride for three more minutes.
        <br><br>
        <img src="images/oregon-one/IMG_1343.JPG" width="100%">

      </md-card-content>
    </md-card>
  </div>
</md-content>

